/* Font - start */
$FontMedium: 'Roboto-Medium', Arial, sans-serif;
$FontRegular: 'Roboto-Regular', Arial, sans-serif;
/* Font - end */

/* Color - start */
$color-white: #fff;
$color-black: #000;
$color-grey: #363a36;
$color-red: #f22b2b;
$color-primary: #97c15d;
$color-secondary: #fdb71c;
$color-text: #9c9c9c;
$color-border: #d9d9d9;
/* Color - end */

/* Breakpoint - start */
$xxs: 480px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1368px;
/* Breakpoint - end */
